@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

body {
  overflow: hidden;
}

* {
  margin: 0;
  font-family: sans-serif;
}

img {
  width: 500px;
}

.App {
  display: flex;
  width: 100vw;
  min-height: 100vh;
}

div.App.light-mode {
  background-color: #f1f1f1;
}

div.App.dark-mode {
  background-color: #3D3652;
}

div.App.dark-mode h1 {
  color: #ffffff;
}

.App div h1 {
  margin-top: 20px;
  margin-left: 10px;
  margin-bottom: 20px;
  color: #3171D0;
  display: flex;
  align-items: center;
}

.App div h1 img {
  width: 100px;
}

@media only screen and (max-width: 768px) {
  body {
    overflow: visible;
  }
}